h1{
  text-align:center;
  color:white;
}
.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite;
  -moz-animation: rainbow 1s infinite;
  /* Standard Syntax */
  animation: rainbow 1s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standard Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: orange;}
	60%{color: yellow;}
	80%{color: green;}
	100%{color: blue;}	
}
body {
  background-image: url(https://image.freepik.com/free-photo/nature-design-with-bokeh-effect_1048-1882.jpg);
}